<div class="content_table">
    <div class="content_title">
        <h2 class="title">@ViewString.Keys["LuageresTuristicos"]</h2>
        <div class="btn_cirquel" @onclick="IrNuevaLugarTuristico">
            <i class="fas fa-plus"></i>
        </div>
    </div>
    <div class="content_filtros">
        <div class="content_relative">
            <input type="text" class="input_form" placeholder="@ViewString.Keys["Busqueda"]" value="@busqueda" @onchange="TxtBusqueda"/>
            @if(busquedaError != "")
            {
                <div class="alert_input">
                    <p class="text_alert">@ViewString.Keys[busquedaError]</p>
                </div>
            }
        </div>
        <div class="content_relative">
            <input type="text" class="input_form" placeholder="@ViewString.Keys["Nombre"]" value="@nombre" @onchange="TxtNombre"/>
            @if(nombreError != "")
            {
                <div class="alert_input">
                    <p class="text_alert">@ViewString.Keys[nombreError]</p>
                </div>
            }
        </div>
        <div class="content_relative">
            <input type="text" class="input_form" placeholder="@ViewString.Keys["Descripcion"]" value="@descripcion" @onchange="TxtDescripcion" />
            @if(descripcionError != "")
            {
                <div class="alert_input">
                    <p class="text_alert">@ViewString.Keys[descripcionError]</p>
                </div>
            }
        </div>
        <div class="content_relative">
            <input type="text" class="input_form" placeholder="@ViewString.Keys["Caracteristica"]" value="@caracteristica" @onchange="TxtCaracteristica"/>
            @if(caracteristicaError != "")
            {
                <div class="alert_input">
                    <p class="text_alert">@ViewString.Keys[caracteristicaError]</p>
                </div>
            }
        </div>
        <div class="content_relative">
            <input type="text" class="input_form" placeholder="@ViewString.Keys["CaracteristicaData"]" value="@caracteristicaData" @onchange="TxtCaracteristicaData"/>
            @if(caracteristicaDataError != "")
            {
                <div class="alert_input">
                    <p class="text_alert">@ViewString.Keys[caracteristicaDataError]</p>
                </div>
            }
        </div>
        <div class="content_relative">
            <input type="text" class="input_form" placeholder="@ViewString.Keys["Localidad"]" value="@localidad" @onchange="TxtLocalidad"/>
            @if(localidadError != "")
            {
                <div class="alert_input">
                    <p class="text_alert">@ViewString.Keys[localidadError]</p>
                </div>
            }
        </div>
        <div class="content_relative">
            <input type="text" class="input_form" placeholder="@ViewString.Keys["Colonia"]" value="@colonia" @onchange="TxtColonia"/>
            @if(coloniaError != "")
            {
                <div class="alert_input">
                    <p class="text_alert">@ViewString.Keys[coloniaError]</p>
                </div>
            }
        </div>
        <div class="content_relative">
            <input type="text" class="input_form" placeholder="@ViewString.Keys["Calle"]" value="@calle" @onchange="TxtCalle"/>
            @if(calleError != "")
            {
                <div class="alert_input">
                    <p class="text_alert">@ViewString.Keys[calleError]</p>
                </div>
            }
        </div>
        <div class="content_relative">
            <input type="number" class="input_form" placeholder="@ViewString.Keys["Numero"]" value="@numero" @onchange="TxtNumero"/>
            @if(numeroError != "")
            {
                <div class="alert_input">
                    <p class="text_alert">@ViewString.Keys[numeroError]</p>
                </div>
            }
        </div>
        <div class="content_relative">
            <input type="text" class="input_form" placeholder="@ViewString.Keys["CodigoPostal"]" value="@codigoPostal" @onchange="TxtCodigoPostal"/>
            @if(codigoPostalError != "")
            {
                <div class="alert_input">
                    <p class="text_alert">@ViewString.Keys[codigoPostalError]</p>
                </div>
            }
        </div>
        <div class="content_relative">
            <select value="@idTipoLugarTuristico" class="from-control input_form" @onchange="TxtIdTipoLugarTuristico">
                <option value="0">@ViewString.Keys["TiposLugarTuristico"]...</option>
                @for(int i = 0; i < TiposLugarTuristico.Count; i++)
                {
                    <option value="@TiposLugarTuristico[i].IdTipoLugarTuristico">@TiposLugarTuristico[i].Tipo</option>
                }
            </select>
            @if(idTipoLugarTuristicoError != "")
            {
                <div class="alert_input">
                    <p class="text_alert">@ViewString.Keys[idTipoLugarTuristicoError]</p>
                </div>
            }
        </div>
        <div class="content_filtro_option span_2">
            <div class="content_buttons_sections">
                <h2 class="label_section @section1" @onclick="(() => CambioSection(0))">@ViewString.Keys["FechaPublicacion"]</h2>
                <h2 class="label_section @section2" @onclick="(() => CambioSection(1))">@ViewString.Keys["RangoFecha"]</h2>
                <h2 class="label_section @section3" @onclick="(() => CambioSection(2))">@ViewString.Keys["FechaEspecifica"]</h2>
            </div>
            <div class="content_carrusel @carrusel1">
                <div class="content_relative">
                    <input type="date" class="input_form" value="@fechaFija.ToString("yyyy-MM-dd")" @onchange="TxtFechaFija"/>
                    @if(fechaFijaError != "")
                    {
                        <div class="alert_input">
                            <p class="text_alert">@ViewString.Keys[fechaFijaError]</p>
                        </div>
                    }
                </div>
            </div>
            <div class="content_carrusel @carrusel2">
                <div class="content_relative">
                    <input type="date" class="input_form" value="@fechaInicio.ToString("yyyy-MM-dd")" @onchange="TxtFechaInicio"/>
                    @if(fechaInicioError != "")
                    {
                        <div class="alert_input">
                            <p class="text_alert">@ViewString.Keys[fechaInicioError]</p>
                        </div>
                    }
                </div>
                <div class="content_relative">
                    <input type="date" class="input_form" value="@fechaFin.ToString("yyyy-MM-dd")" @onchange="TxtFechaFin"/>
                    @if(fechaFinError != "")
                    {
                        <div class="alert_input">
                            <p class="text_alert">@ViewString.Keys[fechaFinError]</p>
                        </div>
                    }
                </div>
            </div>
            <div class="content_carrusel @carrusel3">
                <div class="content_relative">
                    <select value="@year" class="from-control input_form" @onchange="SelectYear">
                        <option value="0">Seleccione...</option>
                        @for(int i = 2022; i <= DateTime.UtcNow.AddHours(-6).Year; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                    @if(yearError != "")
                    {
                        <div class="alert_input">
                            <p class="text_alert">@ViewString.Keys[yearError]</p>
                        </div>
                    }
                </div>
                <div class="content_relative">
                    <select value="@month" class="from-control input_form" @onchange="SelectMonth">
                        <option value="0">Seleccione...</option>
                        <option value="1">Enero</option>
                        <option value="2">Febrero</option>
                        <option value="3">Marzo</option>
                        <option value="4">Abril</option>
                        <option value="5">Mayo</option>
                        <option value="6">Junio</option>
                        <option value="7">Julio</option>
                        <option value="8">Agosto</option>
                        <option value="9">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                    </select>
                    @if(monthError != "")
                    {
                        <div class="alert_input">
                            <p class="text_alert">@ViewString.Keys[monthError]</p>
                        </div>
                    }
                </div>
            </div>
        </div>
        <button class="button_sumit" @onclick="limpiarFiltro">
            <span>Limpiar</span>
        </button>
    </div>
    <div class="content_grid_tabla">
        <div class="content_grid_tabla_header">
            <div class="col_grid displa_flex" @onclick="(() => CambioOrden(1))">
                <span>ID</span>
                @if(FiltroLugaresTuristicos.Orden == 1)
                {
                    <i class="fas fa-sort-amount-up-alt"></i>
                }
                else
                {
                    <i class="fas fa-sort-amount-down-alt"></i>
                }
            </div>
            <div class="col_grid displa_flex" @onclick="(() => CambioOrden(2))">
                <span>Nombre</span>
                @if(FiltroLugaresTuristicos.Orden == 3)
                {
                    <i class="fas fa-sort-amount-up-alt"></i>
                }
                else
                {
                    <i class="fas fa-sort-amount-down-alt"></i>
                }
            </div>
            <div class="col_grid displa_flex" @onclick="(() => CambioOrden(3))">
                <span>Descripción</span>
                @if(FiltroLugaresTuristicos.Orden == 5)
                {
                    <i class="fas fa-sort-amount-up-alt"></i>
                }
                else
                {
                    <i class="fas fa-sort-amount-down-alt"></i>
                }
            </div>
            <div class="col_grid displa_flex" @onclick="(() => CambioOrden(4))">
                <span>Tipo</span>
                @if(FiltroLugaresTuristicos.Orden == 7)
                {
                    <i class="fas fa-sort-amount-up-alt"></i>
                }
                else
                {
                    <i class="fas fa-sort-amount-down-alt"></i>
                }
            </div>
            <div class="col_grid displa_flex" @onclick="(() => CambioOrden(5))">
                <span>Dirección</span>
                @if(FiltroLugaresTuristicos.Orden == 9)
                {
                    <i class="fas fa-sort-amount-up-alt"></i>
                }
                else
                {
                    <i class="fas fa-sort-amount-down-alt"></i>
                }
            </div>
            <div class="col_grid displa_flex" @onclick="(() => CambioOrden(6))">
                <span>Fecha</span>
                @if(FiltroLugaresTuristicos.Orden == 11)
                {
                    <i class="fas fa-sort-amount-up-alt"></i>
                }
                else
                {
                    <i class="fas fa-sort-amount-down-alt"></i>
                }
            </div>
            @*<div class="col_grid">
                <span>Evidencias</span>
            </div>*@
            <div class="col_grid">
                <span>Acciones</span>
            </div>
        </div>
        @if (banderaLoader)
        {
            @if(LugaresTuristicos != null)
            {
                @if(LugaresTuristicos.Count > 0)
                {
                    <div class="content_grid_tabla_boddy">
                        @foreach(var lugar in LugaresTuristicos)
                        {
                            <div class="col_grid">
                                <p class="txt_plano">@lugar.IdLugarTuristico</p>
                            </div>
                            <div class="col_grid">
                                <p class="txt_plano">@lugar.Nombre</p>
                            </div>
                            <div class="col_grid">
                                <p class="txt_plano">@lugar.Descripcion</p>
                            </div>
                            <div class="col_grid">
                                @if(lugar.TipoLugarTuristico != null)
                                {
                                    <p class="txt_plano">@lugar.TipoLugarTuristico.Tipo</p>
                                }
                                else
                                {
                                    <p class="txt_plano">---</p>
                                }
                            </div>
                            <div class="col_grid">
                                @if(lugar.DireccionLugarTuristico != null)
                                {
                                    <p class="txt_plano">@lugar.DireccionLugarTuristico.Localidad @lugar.DireccionLugarTuristico.Colonia @lugar.DireccionLugarTuristico.Calle @lugar.DireccionLugarTuristico.Numero, CP:@lugar.DireccionLugarTuristico.CodigoPostal</p>
                                }
                                else
                                {
                                    <p class="txt_plano">---</p>
                                }
                            </div>
                            <div class="col_grid">
                                <p class="txt_plano">@lugar.FechaFundacionConstruccionApertura.ToString("dd/MM/yyyy")</p>
                            </div>
                           @* <div class="col_grid">
                                @if(lugar.ArchivosLugarTuristico != null && lugar.ArchivosLugarTuristico.Count > 0)
                                {
                                    <img class="img_noticia" src="data:image/png;base64, @lugar.ArchivosLugarTuristico[0].Ruta">
                                }
                            </div>*@
                            <div class="col_grid-accion">
                                <div class="content_flex">
                                    <button class="btn_edit" @onclick="(() => IrEditarLugarTuristico(lugar.IdLugarTuristico))">
                                        <i class="far fa-edit"></i>
                                        <span>Editar</span>
                                    </button>
                                    <button class="btn_delete" @onclick="(() => EliminarLugarTuristico(lugar.IdLugarTuristico))">
                                        <i class="far fa-trash-alt"></i>
                                        <span>Eliminar</span>
                                    </button>
                                    <button class="btn_detalle" @onclick="(() => openModalDetalles(lugar.IdLugarTuristico))">
                                        <i class="fas fa-list-ul"></i>
                                        <span>Detalles</span>
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="content_paginado">
                        @foreach(int i in paginas)
                        {
                            <div class="pagina" @onclick="(() => CambiarPaginaActual(i))">
                                @if(i == paginaActual)
                                {
                                    <span class="selected">@i</span>
                                }
                                else
                                {
                                    <span>@i</span>
                                }
                            </div>
                        }
                    </div>
                }
                else
                {
                    @if(alerta != "")
                    {
                        <h2 class="no_data">No hay Lugares Turisticos</h2>
                    }
                    else
                    {
                        <div class="loader"></div>
                    }
                }
            }
            else
            {
                @if(alerta != "")
                {
                    <h2 class="no_data">No hay Lugares Turisticos</h2>
                }
                else
                {
                    <h2 class="no_data">@alerta</h2>
                }
            }
        }
        else
        {
            <div class="loader"></div>
        }

    </div>

</div>

@if (banderamodalDetalles)
{
    <CityApp.Client.Components.ModalDetalleLugarTuristicoComponents.ModalDetalleLugarTuristico idLugar="@IdLugarTuristico" Sesion="@Sesion" OpenCloseModal="openCloseModalDetalles"></CityApp.Client.Components.ModalDetalleLugarTuristicoComponents.ModalDetalleLugarTuristico>
}