<div class="content_table">
    <div class="content_title">
        <h2 class="title">@ViewString.Keys["NewSecretaria"]</h2>
    </div>
    @if(alerta != ""){
        <p class="text_alerta">@ViewString.Keys[alerta]</p>
    }
    <div class="content_grid_form">
        <div class="content_relative">
            <input type="text" class="input_form" placeholder="@ViewString.Keys["secr"]" value="@nombreSecretaria" @onchange="TxtNombreSecretaria" />
            @if (errorNombreSecretaria != "")
            {
                <div class="alert_input">
                    <p class="text_alert">@ViewString.Keys[errorNombreSecretaria]</p>
                </div>
            }
        </div>

        <div class="content_btn span_2">
            <div class="content_relative span_3">
                <button class="button_sumit" @onclick="AgregarSecretaria">
                    @if(banderaBoton){
                        <div class="loader"></div>
                    }
                    else{
                        <span>Guardar</span>
                    }
                </button>
            </div>
        </div>
    </div>
</div>