<div class="content_table">
    <div class="content_title">
        <h2 class="title">@ViewString.Keys["AnuncioList"]</h2>
        <div class="btn_cirquel" @onclick="IrNuevoAnuncio">
            <i class="fas fa-plus"></i>
        </div>
    </div>
    <div class="content_grid_tabla">
        <div class="content_grid_tabla_header">
            <div class="col_grid displa_flex">
                <span>ID</span>
            </div>
            <div class="col_grid displa_flex">
                <span>Título</span>
            </div>
            <div class="col_grid">
                <span>Fecha</span>
            </div>
            <div class="col_grid">
                <span>Imagen</span>
            </div>
            <div class="col_grid">
                <span>Acciones</span>
            </div>
        </div>
        @if (banderaLoader)
        {
            @if (Anuncios != null)
            {
                @if (Anuncios.Count > 0)
                {
                    <div class="content_grid_tabla_boddy">
                        @foreach (var anuncios in Anuncios)
                        {
                            <div class="col_grid">
                                <p class="txt_plano">@anuncios.IdAnuncio</p>
                            </div>
                            <div class="col_grid">
                                <p class="txt_plano">@anuncios.Titulo</p>
                            </div>
                            <div class="col_grid">
                                <p class="txt_plano">@anuncios.FechaPublicacion.ToString("dd/MM/yyyy")</p>
                            </div>
                             <div class="col_grid">
                                @if(anuncios.ArchivosAnuncio != null && anuncios.ArchivosAnuncio.Count > 0)
                                {
                                    <img class="img_noticia" src="data:image/png;base64, @anuncios.ArchivosAnuncio[0].Ruta">
                                }
                            </div>
                            <div class="col_grid">
                                <div class="content_flex">
                                    <button class="btn_edit" @onclick="(() => IrEditarAnuncio(anuncios.IdAnuncio))">
                                        <i class="far fa-edit"></i>
                                        <span>Editar</span>
                                    </button>
                                    <button class="btn_delete" @onclick="(() => EliminarAnuncio(anuncios.IdAnuncio))">
                                        <i class="far fa-trash-alt"></i>
                                        <span>Eliminar</span>
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="content_paginado">
                        @foreach (int i in paginas)
                        {
                            <div class="pagina" @onclick="(() => CambiarPaginaActual(i))">
                                @if (i == paginaActual)
                                {
                                    <span class="selected">@i</span>
                                }
                                else
                                {
                                    <span>@i</span>
                                }
                            </div>
                        }
                    </div>
                }
                else
                {
                    @if (alerta != "")
                    {
                        <h2 class="no_data">No hay Anuncios</h2>
                    }
                    else
                    {
                        <div class="loader"></div>
                    }
                }
            }
            else
            {
                @if (alerta != "")
                {
                    <h2 class="no_data">No hay Anuncios</h2>
                }
                else
                {
                    <h2 class="no_data">@alerta</h2>
                }
            }
        }
        else
        {
            <div class="loader"></div>
        }
    </div>
</div>

