<div class="content_table">
    <div class="content_title">
        <h2 class="title">@ViewString.Keys["Citas"]</h2>
    </div>
    <div class="content_filtros">
         <div class="content_relative">
            <select value="@idTipoCita" class="from-control input_form" @onchange="TxtIdTipoCita">
                <option value="0">@ViewString.Keys["TiposCita"]...</option>
                @for(int i = 0; i < TiposCita.Count; i++)
                {
                    <option value="@TiposCita[i].IdTipoCita">@TiposCita[i].Tipo</option>
                }
            </select>
            @if(idTipoCitaError != "")
            {
                <div class="alert_input">
                    <p class="text_alert">@ViewString.Keys[idTipoCitaError]</p>
                </div>
            }
        </div>
         <button class="button_sumit" @onclick="limpiarFiltro">
            <span>Limpiar</span>
        </button>
    </div>
    <div class="content_grid_tabla">
        <div class="content_grid_tabla_header">           
            <div class="col_grid displa_flex">
                <span>Id</span>
            </div>
            <div class="col_grid displa_flex">
                <span>Nombre</span>
            </div>            
            <div class="col_grid displa_flex">
                <span>Dirección</span>
            </div>
            <div class="col_grid displa_flex">
                <span>Método de Contacto</span>
            </div>
            <div class="col_grid displa_flex">
                <span>Descripción</span>
            </div>
            @*<div class="col_grid">
                <span>Acciones</span>
            </div>*@
        </div>
        @if (banderaLoader)
        {
            @if (Citas != null)
            {
                @if (Citas.Count > 0)
                {
                    <div class="content_grid_tabla_boddy">
                        @foreach (var citas in Citas)
                        {
                            <div class="col_grid">
                                <p class="txt_plano">@citas.IdCita</p>
                            </div>
                             <div class="col_grid">
                                <p class="txt_plano">
                                    @citas.ApellidoPaterno 
                                    @citas.ApellidoMaterno 
                                    @citas.Nombre
                                </p>
                            </div>                            
                            <div class="col_grid">
                                <p class="txt_plano">@citas.Direccion</p>
                            </div>
                             <div class="col_grid">
                                <p class="txt_plano">
                                    @citas.Telefono1
                                    @citas.Correo
                                </p>
                            </div>
                            <div class="col_grid">
                                <p class="txt_plano">
                                    @citas.Descripcion 
                                </p>
                            </div>
                           @* <div class="col_grid">
                                <div class="content_flex">
                                    <button class="btn_edit" @onclick="(() => IrEditarSecretaria(secretaria.IdSecretaria))">
                                        <i class="far fa-edit"></i>
                                        <span>Editar</span>
                                    </button>
                                    <button class="btn_delete" @onclick="(() => EliminarSecretaria(secretaria.IdSecretaria))">
                                        <i class="far fa-trash-alt"></i>
                                        <span>Eliminar</span>
                                    </button>
                                </div>
                            </div>*@
                        }
                    </div>
                    <div class="content_paginado">
                        @foreach (int i in paginas)
                        {
                            <div class="pagina" @onclick="(() => CambiarPaginaActual(i))">
                                @if (i == paginaActual)
                                {
                                    <span class="selected">@i</span>
                                }
                                else
                                {
                                    <span>@i</span>
                                }
                            </div>
                        }
                    </div>
                }
                else
                {
                    @if (alerta != "")
                    {
                        <h2 class="no_data">No hay Citas</h2>
                    }
                    else
                    {
                        <div class="loader"></div>
                    }
                }
            }
            else
            {
                @if (alerta != "")
                {
                    <h2 class="no_data">No hay Citas</h2>
                }
                else
                {
                    <h2 class="no_data">@alerta</h2>
                }
            }
        }
        else
        {
            <div class="loader"></div>
        }
    </div>
</div>

