<div class="content_table">
    <div class="content_title">
        <h2 class="title">@ViewString.Keys["Pagos"]</h2>
        <div class="btn_cirquel" @onclick="IrNuevaPago">
            <i class="fas fa-plus"></i>
        </div>
    </div>
    <div class="content_filtros">
        <div class="content_relative">
            <input type="text" class="input_form" placeholder="@ViewString.Keys["Referencia"]" value="@referencia" @onchange="TxtReferencia"/>
            @if(referenciaError != "")
            {
                <div class="alert_input">
                    <p class="text_alert">@ViewString.Keys[referenciaError]</p>
                </div>
            }
        </div>
        <div class="content_relative">
            <select value="@tipoPago" class="from-control input_form" @onchange="TxtTipoPago">
                <option value="0">@ViewString.Keys["TipoPago"]...</option>
                @for(int i = 0; i < TiposPagos.Count; i++)
                {
                    <option value="@TiposPagos[i].IdTipoPago">@TiposPagos[i].Pago</option>
                }
            </select>
            @if(tipoPagoError != "")
            {
                <div class="alert_input">
                    <p class="text_alert">@ViewString.Keys[tipoPagoError]</p>
                </div>
            }
        </div>
        <div class="content_relative">
            <input type="number" class="input_form" placeholder="@ViewString.Keys["Cuenta"]" value="@idCuenta" @onchange="TxtIdCuenta"/>
            @if(idCuentaError != "")
            {
                <div class="alert_input">
                    <p class="text_alert">@ViewString.Keys[idCuentaError]</p>
                </div>
            }
        </div>
        <div class="content_filtro_option span_2">
            <div class="content_buttons_sections">
                <h2 class="label_section @section1" @onclick="(() => CambioSection(0))">@ViewString.Keys["FechaPublicacion"]</h2>
                <h2 class="label_section @section2" @onclick="(() => CambioSection(1))">@ViewString.Keys["RangoFecha"]</h2>
                <h2 class="label_section @section3" @onclick="(() => CambioSection(2))">@ViewString.Keys["FechaEspecifica"]</h2>
            </div>
            <div class="content_carrusel @carrusel1">
                <div class="content_relative">
                    <input type="date" class="input_form" value="@fechaFija.ToString("yyyy-MM-dd")" @onchange="TxtFechaFija"/>
                    @if(fechaFijaError != "")
                    {
                        <div class="alert_input">
                            <p class="text_alert">@ViewString.Keys[fechaFijaError]</p>
                        </div>
                    }
                </div>
            </div>
            <div class="content_carrusel @carrusel2">
                <div class="content_relative">
                    <input type="date" class="input_form" value="@fechaInicio.ToString("yyyy-MM-dd")" @onchange="TxtFechaInicio"/>
                    @if(fechaInicioError != "")
                    {
                        <div class="alert_input">
                            <p class="text_alert">@ViewString.Keys[fechaInicioError]</p>
                        </div>
                    }
                </div>
                <div class="content_relative">
                    <input type="date" class="input_form" value="@fechaFin.ToString("yyyy-MM-dd")" @onchange="TxtFechaFin"/>
                    @if(fechaFinError != "")
                    {
                        <div class="alert_input">
                            <p class="text_alert">@ViewString.Keys[fechaFinError]</p>
                        </div>
                    }
                </div>
            </div>
            <div class="content_carrusel @carrusel3">
                <div class="content_relative">
                    <select value="@year" class="from-control input_form" @onchange="SelectYear">
                        <option value="0">Seleccione...</option>
                        @for(int i = 2022; i <= DateTime.UtcNow.AddHours(-6).Year; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                    @if(yearError != "")
                    {
                        <div class="alert_input">
                            <p class="text_alert">@ViewString.Keys[yearError]</p>
                        </div>
                    }
                </div>
                <div class="content_relative">
                    <select value="@month" class="from-control input_form" @onchange="SelectMonth">
                        <option value="0">Seleccione...</option>
                        <option value="1">Enero</option>
                        <option value="2">Febrero</option>
                        <option value="3">Marzo</option>
                        <option value="4">Abril</option>
                        <option value="5">Mayo</option>
                        <option value="6">Junio</option>
                        <option value="7">Julio</option>
                        <option value="8">Agosto</option>
                        <option value="9">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                    </select>
                    @if(monthError != "")
                    {
                        <div class="alert_input">
                            <p class="text_alert">@ViewString.Keys[monthError]</p>
                        </div>
                    }
                </div>
            </div>
        </div>
        <button class="button_sumit" @onclick="limpiarFiltro">
            <span>Limpiar</span>
        </button>
    </div>
    <div class="content_grid_tabla">
        <div class="content_grid_tabla_header">
            <div class="col_grid displa_flex" @onclick="(() => CambioOrden(1))">
                <span>ID</span>
                @if(FiltroPagos.Orden == 1)
                {
                    <i class="fas fa-sort-amount-up-alt"></i>
                }
                else
                {
                    <i class="fas fa-sort-amount-down-alt"></i>
                }
            </div>
            <div class="col_grid displa_flex" @onclick="(() => CambioOrden(2))">
                <span>Referencia</span>
                @if(FiltroPagos.Orden == 3)
                {
                    <i class="fas fa-sort-amount-up-alt"></i>
                }
                else
                {
                    <i class="fas fa-sort-amount-down-alt"></i>
                }
            </div>
            <div class="col_grid displa_flex" @onclick="(() => CambioOrden(3))">
                <span>Tipo de Pago</span>
                @if(FiltroPagos.Orden == 5)
                {
                    <i class="fas fa-sort-amount-up-alt"></i>
                }
                else
                {
                    <i class="fas fa-sort-amount-down-alt"></i>
                }
            </div>
            <div class="col_grid displa_flex" @onclick="(() => CambioOrden(4))">
                <span>Cuenta</span>
                @if(FiltroPagos.Orden == 7)
                {
                    <i class="fas fa-sort-amount-up-alt"></i>
                }
                else
                {
                    <i class="fas fa-sort-amount-down-alt"></i>
                }
            </div>
            <div class="col_grid displa_flex" @onclick="(() => CambioOrden(5))">
                <span>Fecha</span>
                @if(FiltroPagos.Orden == 9)
                {
                    <i class="fas fa-sort-amount-up-alt"></i>
                }
                else
                {
                    <i class="fas fa-sort-amount-down-alt"></i>
                }
            </div>
            <div class="col_grid">
                <span>Acciones</span>
            </div>
        </div>
        @if (banderaLoader)
        {
            @if(Pagos != null)
            {
                @if(Pagos.Count > 0)
                {
                    <div class="content_grid_tabla_boddy">
                        @foreach(var pago in Pagos)
                        {
                            <div class="col_grid">
                                <p class="txt_plano">@pago.IdPago</p>
                            </div>
                            <div class="col_grid">
                                <p class="txt_plano">@pago.Referencia</p>
                            </div>
                            <div class="col_grid">
                                @if(pago.TipoPago != null)
                                {
                                    <p class="txt_plano">@pago.TipoPago.Pago</p>
                                }
                                else
                                {
                                    <p class="txt_plano">---</p>
                                }
                            </div>
                            <div class="col_grid">
                                <p class="txt_plano">@pago.IdCuenta</p>
                            </div>
                            <div class="col_grid">
                                <p class="txt_plano">@pago.FechaPago.ToString("dd/MM/yyyy")</p>
                            </div>
                            <div class="col_grid">
                                <div class="content_flex">
                                    <button class="btn_edit" @onclick="(() => OpenCloseModal(pago.IdPago))">
                                        <i class="far fa-eye"></i>
                                        <span>Ver</span>
                                    </button>
                                    <button class="btn_delete" @onclick="(() => Eliminar(pago.IdPago))">
                                        <i class="far fa-trash-alt"></i>
                                        <span>Eliminar</span>
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="content_paginado">
                        @foreach(int i in paginas)
                        {
                            <div class="pagina" @onclick="(() => CambiarPaginaActual(i))">
                                @if(i == paginaActual)
                                {
                                    <span class="selected">@i</span>
                                }
                                else
                                {
                                    <span>@i</span>
                                }
                            </div>
                        }
                    </div>
                }
                else
                {
                    @if(alerta != "")
                    {
                        <h2 class="no_data">No hay Pagos</h2>
                    }
                    else
                    {
                        <div class="loader"></div>
                    }
                }
            }
            else
            {
                @if(alerta != "")
                {
                    <h2 class="no_data">No hay Pagos</h2>
                }
                else
                {
                    <h2 class="no_data">@alerta</h2>
                }
            }
        }
        else
        {
            <div class="loader"></div>
        }

    </div>

</div>

@if(modalOpen)
{
    <CityApp.Client.Components.ModalPagoCompletoComponents.ModalPagoCompleto IdPago="@idPagoModal" OpenCloseModal="OpenCloseModal"></CityApp.Client.Components.ModalPagoCompletoComponents.ModalPagoCompleto>
}